<div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
</div>
<p class="warning" *ngIf = "chores.length > finishedChores.length">Work harder!!</p>
<hr>
<div class="doneChores">
    <h3>Completed Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
    <img src="{{targetImage}}" *ngIf = "chores.length === 0 || chores.length <= finishedChores.length + 3; else slacker">
    <ng-template #slacker><p class="warning">No allowance yet</p></ng-template>
</div>
<hr>
<h1 *ngIf = "chores.length === 0 && finishedChores.length >= 4; else howToEarnTreat">Ice cream treat!!</h1>

<ng-template #howToEarnTreat>
    <h3>To earn an ice cream treat:</h3>
    <ul>
        <li>Chores list must be empty, and</li>
        <li>Must have finished at least 4 chores.</li>
    </ul>
</ng-template>