.chores {
    color: #ff4f33;
}

.doneChores {
    color: #3c79b8;
}

h3, h1 {
    text-align: center;
}

img {
    max-width: 15%;
    height: auto;
    display: block;
    margin: auto;
}

.warning {
    color:limegreen;
    font-size: large;
    text-decoration: underline;
}